*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #d5e0b5;
    border: solid 4px black;
    border-radius: 10px;

    width: 800px; 
    margin: 50px auto;
    padding: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}
html{
    background-color: #f8f4c4;
}
header img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

main {
    width: 100%;

}

header h1{
    background-color: #47667b;
    margin-bottom: 40px;
    color: white;
}

header {
    text-align: center;
    width: 100%;
}
/* --- Perfil Laboral --- */
#perfil-laboral {
    text-align: center; /* Centra todo el texto de esta sección */
    margin-bottom: 40px;
}
#perfil-laboral h2 {
    background-color:#47667b;
    color: white;
    padding: 5px;
}

/* --- Experiencia Laboral --- */
#experiencia-laboral {
    text-align: center; /* Centra solo los ítems de esta sección */
    margin-bottom: 40px;
}
/* Aplica color solo a los títulos de experiencia */
#experiencia-laboral h2, 
#experiencia-laboral h3 { 
    background-color: #47667b;
    color: white;
    padding: 5px;
}

/* --- Formación y otros (Misma lógica) --- */
#formacion {
    text-align: center;
}
#formacion h2 {
    background-color:#47667b;
    margin-bottom: 40px;
    color: white;
}
#habilidades-cursos {
    text-align: center;
}
#habilidades-cursos h2{
    background-color:#47667b;
    color: white;
    margin-bottom: 40px;
}
#habilidades-cursos ul {
    list-style: none;
    padding-left: 0;
}
#habilidades-cursos h3 {
    background-color:#6d8b89;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}
#referencias{
    text-align: center;
}
#referencias h2 {
    background-color: #47667b;
    color: white;
}


/* 1. Estilos del Footer (Contenedor general) */
footer {
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center;
}


.social-links {
    list-style: none;
    padding: 0;
    margin: 0; 
    
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.logo-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.logo-link img {
    width: 24px; 
    height: 24px;
    margin-right: 8px; 
    vertical-align: middle;
}


.link-text {
    color: #000000;
    transition: color 0.2s ease-in-out; 
}

.logo-link:hover .link-text {
    
    background-color: #47667b;
    color: rgb(255, 255, 255); 
}

.logo-link:hover {
    opacity: 0.8;
}